.Features {
  background-color: #efefef;
  padding-top: 28px;
  padding-bottom: 23px;
  &-container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    display: flex;
  }
  @include media-breakpoint-down(md) {
    &-container {
      flex-direction: column;
    }
    &-item {
      margin-bottom: 25px;
    }
  }
}

.i-quality {
  &::before {
    background-image: url("/images/icons/quality-icon.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 12px;
  }
}
.i-safePurchase {
  &::before {
    background-image: url("/images/icons/safe-purchase-icon.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 22px;
    height: 26px;
    margin-right: 12px;
  }
}
.i-transport {
  &::before {
    background-image: url("/images/icons/transport-icon.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 24px;
    height: 18px;
    margin-right: 12px;
  }
}
.i-return {
  &::before {
    background-image: url("/images/icons/return-icon.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 12px;
  }
}
