@import "./features";

.Footer {
  padding-top: 60px;
  padding-bottom: 70px;
  &-container {
    max-width: 1555px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  &-items {
    width: 100%;
    max-width: 180px;
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
    color: $light-black;
    display: block;
    margin-bottom: 30px;
  }
  &-option {
    display: block;
    font-size: 14px;
    color: $light-black;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &-social {
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-beonshop {
    background-color: $light-black;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      font-size: 12px;
      color: $white;
      margin-right: 20px;
    }
  }
  &-logo {
    margin-right: 165px;
  }
  @include media-breakpoint-down(md) {
    &-row {
      flex-direction: column;
    }
    &-items {
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      img {
        width: 100%;
      }
    }
    &-beonshop {
      justify-content: center;
    }
    &-logo {
      margin-right: 0;
    }
  }
}

.i-footer-twitter {
  &::before {
    background-image: url("/images/icons/footer-icon-1.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 23px;
    height: 20px;
  }
}
.i-footer-facebook {
  &::before {
    background-image: url("/images/icons/footer-icon-2.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 11px;
    height: 24px;
  }
}

.i-footer-instagram {
  &::before {
    background-image: url("/images/icons/footer-icon-3.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}
.i-footer-linkedin {
  &::before {
    background-image: url("/images/icons/footer-icon-4.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}
