.Header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: $white;
  width: 100%;
  &-menu {
    height: 75px;
  }
  &-topbar {
    background-color: $brown;
    color: $white;
    text-align: center;
    font-family: $topbar-font;
    font-weight: 400;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 48px;
    padding-top: 10px;
  }
  &-nav {
    width: 100%;
    max-width: 600px;
  }
  &-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding: 0 15px;
  }
  &-item {
    margin-right: 55px;
  }
  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 210px;
    button {
      background-color: transparent;
      border: 0;
    }
  }
  &-language {
    color: $light-black;
  }
  &-btn {
    display: none;
  }
  &-mobileMenu {
    &-wrapper,
    &-close,
    &-actions,
    &-items {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    &-topbar {
      padding: 0 15px;
    }
    &-menu {
      height: 61px;
    }
    &-wrapper {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      height: 100%;
    }
    &-nav,
    &-actions {
      display: none;
    }
    &-btn {
      border: 0;
      display: block;
      outline: none;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    &-mobileMenu {
      position: fixed;
      z-index: 99;
      top: 0;
      right: -100vw;
      width: 100vw;
      height: 100vh;
      background-color: $white;
      transition: 0.3s;

      &.active {
        right: 0;
      }
      &-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
      }
      &-wrapper {
        width: 100%;
        padding: 15px;
        padding-right: 0;
        display: block;
      }
      &-btn,
      &-close {
        border: none;
        background-color: transparent;
        outline: none;
        &:hover,
        &:active,
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
      &-btn {
        margin: 0 15px;
      }
      &-close {
        font-size: 25px;
        font-weight: 500;
        padding-right: 15px;
        display: block;
      }
      &-items {
        display: flex;
        flex-direction: column;
        display: block;
      }
      &-link {
        padding: 20px;
        a {
          color: $light-black;
          &:hover {
            text-decoration: none;
            color: $light-black;
          }
        }
      }
      &-language {
        background-color: transparent !important;
        color: $light-black;
        border: none;
        background-color: transparent;
        outline: none;
        &:hover,
        &:active,
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
          color: $light-black;
        }
      }
    }
  }
}

.i-search {
  &::before {
    background-image: url("/images/icons/search-icon.svg");
    content: "";
    display: block;
    width: 15px;
    height: 15px;
  }
}
.i-acount {
  &::before {
    background-image: url("/images/icons/acount-icon.svg");
    content: "";
    display: block;
    width: 15px;
    height: 17px;
  }
}
.i-basket {
  &::before {
    background-image: url("/images/icons/basket-icon.svg");
    content: "";
    display: block;
    width: 18px;
    height: 17px;
  }
}
.i-hamburger {
  &::before {
    background-image: url("/images/icons/burger.svg");
    content: "";
    display: block;
    width: 15px;
    height: 12px;
  }
}
