.Carousel {
  position: relative;
  .BrainhubCarousel__dots {
    position: absolute;
    bottom: 65px;
    width: 100%;
    @include media-breakpoint-down(md) {
      bottom: 115px;
    }
  }
  .BrainhubCarousel__dots .BrainhubCarousel__dot::before {
    background-color: $white;
    height: 8px;
    width: 8px;
  }
  .BrainhubCarousel__dots .BrainhubCarousel__dot--selected::before {
    background-color: #4a4a4a;
  }
  .BrainhubCarousel__dots .BrainhubCarousel__dot {
    padding: 0;
    margin: 10px;
    border-radius: 50%;
    opacity: 1;
  }
}
