.Categories {
  padding-right: 15px;
  &-box {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    &.packs {
      background-image: url("/images/home/category-1.jpg");
      max-width: 633px;
    }
    &.preserves {
      background-image: url("/images/home/category-2.jpg");
      max-width: 1276px;
    }
    &.vinegars {
      background-image: url("/images/home/category-3.jpg");
      width: 100%;
      margin-top: 10px;
    }
  }
  &-name {
    font-size: 22px;
    font-weight: 500;
    color: $light-black;
    margin-bottom: 18px;
    &.white {
      color: $white;
    }
  }
  &-btn {
    width: 216px;
    height: 57px;
    background-color: $white;
    border: 0;
    outline: none;
    margin-bottom: 48px;
  }
  &-name,
  &-btn {
    margin-left: 50px;
  }
  &-without-padding {
    padding: 0 !important;
    &.mobile {
      @include media-breakpoint-down(md) {
        padding: 0 !important;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-box {
      align-items: center;
      &.vinegars {
        margin-top: 0;
      }
    }
    &-name,
    &-btn {
      margin-left: 0px;
    }
  }
}
