.ContactUs {
	padding-top: 185px;
	padding-bottom: 160px;
	background-color: $light-black;
	&-title {
		font-size: 22px;
		font-weight: 700;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 32px;
	}
	&-text,
	&-descrciption {
		text-align: center;
		display: block;
		color: #e9f1db;
	}
	&-text {
		margin-bottom: 15px;
		font-size: 12px;
	}
	&-descrciption {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&-social {
		display: flex;
		max-width: 110px;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
}

.i-facebook {
	&::before {
		background-image: url("/images/icons/facebook-icon.svg");
		background-repeat: no-repeat;
		content: "";
		display: block;
		width: 15px;
		height: 20px;
	}
}
.i-twitter {
	&::before {
		background-image: url("/images/icons/twitter-icon.svg");
		background-repeat: no-repeat;
		content: "";
		display: block;
		width: 20px;
		height: 20px;
	}
}
.i-instagram {
	&::before {
		background-image: url("/images/icons/instagram-icon.svg");
		background-repeat: no-repeat;
		content: "";
		display: block;
		width: 21px;
		height: 21px;
	}
}
