.FeaturedProducts {
  padding-top: 290px;
  padding-bottom: 180px;
  &-title {
    font-size: 30px;
    font-weight: 700;
    color: $light-black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
  }
  &-wrapper {
    text-align: center;
  }
  &-name {
    font-size: 16px;
    font-weight: 500;
    color: $light-black;
    display: block;
  }
  &-price {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: $light-black;
    &.prev {
      text-decoration: line-through;
      margin-right: 20px;
    }
  }
  &-btn {
    width: 216px;
    height: 57px;
    background-color: $brown;
    color: $white;
    font-size: 16px;
    margin-top: 210px;
  }
}
