.FeaturedArticles {
  padding-top: 220px;
  &-title {
    font-size: 30px;
    font-weight: 700;
    color: $light-black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 140px;
  }
  &-container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  &-image {
    margin-bottom: 50px;
  }
  &-info {
    font-size: 12px;
    color: $light-black;
    text-align: center;
    margin-bottom: 30px;
  }
  &-category {
    display: block;
  }
  &-description {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    max-width: 366px;
    text-align: center;
    margin: 0 auto;
  }
  &-btn {
    width: 216px;
    height: 57px;
    background-color: $brown;
    color: $white;
    border: none;
    outline: none;
  }
  &-mosaic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    &-item {
      width: 33%;
    }
  }
  &-article {
    margin-bottom: 55px;
    position: relative;
  }
  &-article:hover > &-backdrop {
    opacity: 1;
  }
  &-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media-breakpoint-down(lg) {
    &-container {
      flex-direction: column;
      margin-bottom: 30px;
    }
    &-image {
      width: 100%;
    }
    &-box {
      margin-bottom: 30px;
      width: 100%;
    }
  }
  @include media-breakpoint-down(md) {
    &-btn {
      margin-bottom: 20px;
    }
    &-mosaic {
      flex-direction: column;
    }

    &-article {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}
