.HorizontalMosaic {
  &-wrapper {
    display: flex;
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
  &-image {
    width: 50%;
  }
  &-info {
    width: 50%;
    display: flex;
    background-color: $brown;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 147px;
    &.clear {
      background-color: #e9f1db;
    }
  }
  &-text {
    font-size: 30px;
    font-weight: 500;
    color: $white;
    max-width: 647px;
    width: 100%;
    margin-bottom: 55px;
    &.brown {
      color: $brown;
    }
  }
  &-btn {
    border: 0;
    width: 298px;
    height: 57px;
    font-size: 16px;
    background-color: $white;
  }
  @include media-breakpoint-down(md) {
    &-wrapper {
      flex-direction: column;
      &.reverse {
        flex-direction: column;
      }
    }
    &-image {
      width: 100%;
    }
    &-info {
      padding: 15px;
      width: 100%;
      align-items: center;
    }
    &-text {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
