.Information {
  padding-top: 212px;
  padding-bottom: 244px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 66px;
    text-transform: uppercase;
  }
  &-text {
    max-width: 960px;
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
  &-btn {
    width: 216px;
    height: 57px;
    background-color: $brown;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    border: none;
  }
  @include media-breakpoint-down(md) {
    padding-left: 15px;
    padding-right: 15px;
    &-title {
      font-size: 22px;
    }
  }
}
