.OurClients {
  padding-bottom: 230px;
  &-title {
    text-align: center;
    color: $light-black;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 88px;
  }
  &-container {
    width: 100%;
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
  }
  &-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1275px;
    justify-content: space-between;
  }
  &-item {
    width: 268px;
    height: 268px;
    background-color: #efefef;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  @include media-breakpoint-down(md) {
    &-item {
      width: 100%;
    }
  }
}

.BrainhubCarousel__arrows,
.BrainhubCarousel__arrows:disabled {
  background-color: transparent !important;
}

.BrainhubCarousel__arrows span {
  border-color: $light-black !important;
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowLeft,
.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight {
  outline: none !important;
  border: none !important;
  &:focus {
    outline: none !important;
    border: none !important;
  }
}
