.Slide {
  background-image: url("/images/home/caurosel.jpg");
  width: 100%;
  height: 701px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-title {
    font-size: 30px;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &-text {
    font-size: 16px;
    font-weight: 500;
    color: $white;
    max-width: 876px;
    width: 100%;
    text-align: center;
  }
  @include media-breakpoint-down(md) {
    &-title {
      font-size: 20px;
      text-align: center;
    }
  }
}
