.Subscription {
  padding-top: 160px;
  padding-bottom: 240px;
  &-container {
    max-width: 1686px;
    width: 100%;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 305px 160px 290px;
  }
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-title {
    font-size: 22px;
    color: $light-black;
    display: block;
    margin-bottom: 50px;
  }
  &-text {
    color: $light-black;
    font-size: 16px;
    font-weight: 500;
    max-width: 418px;
    width: 100%;
  }
  &-form {
    width: 100%;
    max-width: 424px;
  }
  &-btn {
    width: 424px;
    height: 57px;
    background-color: $light-black;
    border: none;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
  }
  &-checkbox {
    margin-right: 12px;
  }
  &-link {
    text-decoration: underline;
  }
  @include media-breakpoint-down(md) {
    padding-top: 0;
    &-container {
      padding: 15px;
    }
    &-text {
      margin-bottom: 20px;
      text-align: center;
    }
    &-wrapper {
      flex-direction: column;
      align-items: center;
    }
    &-btn {
      max-width: 424px;
      width: 100%;
    }
  }
}

.Input {
  width: 100%;
  max-width: 424px;
  height: 57px;
  border: 1px solid $light-black;
  background-color: #f5f5f5;
  padding-left: 22px;
  &::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: $light-black;
  }
}
